// Roboto

@font-face {
  src: url('/static/fonts/Roboto/Roboto-Thin.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-Thin.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-Light.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-Light.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-Medium.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-Black.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-Black.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-ThinItalic.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-RegularItalic.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-RegularItalic.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
}

@font-face {
  src: url('/static/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype'),
        url('/static/fonts/Roboto/Roboto-BlackItalic.woff2') format('woff2');
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
}

// Cantarell

@font-face {
  src: url('/static/fonts/Cantarell/Cantarell-Regular.ttf') format('truetype');
  font-family: "Cantarell";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Cantarell/Cantarell-Bold.ttf') format('truetype');
  font-family: "Cantarell";
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('/static/fonts/Cantarell/Cantarell-Italic.ttf') format('truetype');
  font-family: "Cantarell";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url('/static/fonts/Cantarell/Cantarell-BoldItalic.ttf') format('truetype');
  font-family: "Cantarell";
  font-weight: 700;
  font-style: italic;
}